* {
	font-family: 'Noto Sans KR', sans-serif;
	color: #E4C7A6;
	margin: 0;
	padding: 0;
	overflow-x: hidden; 
}

html {
  scroll-behavior: smooth;
}

.jumbotron {
	background-color: #224C3C;
    height: 100vh;
    position: relative;
}

h1 {
	overflow-y: hidden;
}

main {
	padding: inherit;
	width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

#viewPortfolio {
	color: #E4C7A6;

}

.developerName {
	font-family: 'Kaushan Script', cursive !important;
	font-style: italic;
}

#portfolio {
	/*border: 10px solid;*/
    position: relative;
}

.card {
	/*border: 4px solid;*/
	background-color: #588068;
}


h3 {
	margin-top: 10px;
}

#about-me {
	background-color: #224C3C;
    height: 100vh;
    position: relative;
}

.footer {
	color: #E4C7A6;
	/*border: 5px solid;*/
}

a:hover {
  opacity: 0.6;
  color: #588068
}

.portfolio-btn {
	border-radius: 0 !important;
	background-color: #588068;
}

.social-links {
    bottom: 0;
    display: flex;
    justify-content: center;
}

button:hover {
  opacity: 0.6;
  color: #D9DD92
}